
*{
    margin:0;
    padding:0;
    font-family: sans-serif; 
    background: #c4b7b7;
}


nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    align-self: center;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

nav ul li a:hover{
    color: red;
}

nav img{
    width: 10%;
    height: 10%;

}

.row{
    margin-top: 0%;
    height: fit-content;
}

.first{
    margin-left: 5%;
    margin-top: 5%;
    padding: 0%;
    
}

.first h1{
    
    font-size: 20px;
    color: #212121;
    align-items: left;
}


.first h6{
    margin-top: 20%;
    font-size: 50px;
    color: #212121;
    align-items: left;
    
}

span{
    color: orange;
}



.first p{
    color: #555;
    line-height: 22px;
    align-items: left;
}

.first a{
  background: #212121;
  padding: 10px 18px;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  display: inline-block;
  margin: 30px 0;
  border-radius: 5px;
}

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #c4b7b7;
}

.authors{
    background: #c4b7b7;
    margin-top: 5%;
    width: 100%;
    padding: 100px 0px;
    color: #000;
}

.authors p{
  color: #000;
}

.authors h5{
  color: #000;
}

.title h2{
    color: black;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}
.card{
    height: 570px;
    width: 355px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    color: aliceblue;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card .button{
    background-color: rgb(56, 52, 52);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}



@import url("https://fonts.googleapis.com/css?family=Poppins:400,400i,700");
*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
body{
  font-family: "Poppins", sans-serif;
}
div.c{
  position: relative;
  margin:2em;
}
input{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity:0;
  visibility: 0;
}
h1{
  background:#c4b7b7;
  color:black;
  padding:1em;
  position: relative;
}
label::before{
  content:"";
  display: inline-block;
  border: 15px solid transparent;
  border-left:20px solid black;
}
label{
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
}
div.p{
  max-height:0px;
  overflow: hidden;
  transition:max-height 0s;
  background-color: #c4b7b7;
  box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.2);
}
div.p p {
  padding:1em;
}
input:checked ~ h1 label::before{
  border-left:15px solid transparent;
  border-top:20px solid #c4b7b7;
  margin-top:12px;
  margin-right:10px;
}
input:checked ~ h1 ~ div.p{
  max-height:100px;
}
a{
  color:steelblue;
}

.title h3{
  color: black;
  font-size: 75px;
  width: 1130px;
  margin: 30px auto;
  text-align: center;
  margin-top: auto;
}
.title h4{
  background:#c4b7b7;
  color:black;
  font-size: 50px;
  margin-top: 5%;
  padding:1em;
  position: relative;
}

.pic-ctn {
  width: 100vw;
  height: 200px;
  margin-top: 50%;
}

@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
    margin-top: 10%;
    align-items: center;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
    margin-top: 10%;
    align-items: center;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
    margin-top: 10%;
    align-items: center;
  }
  30% {
    transform: translateX(-200px);
    opacity: 0;
    margin-top: 10%;
    align-items: center;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
    margin-top: 10%;
    align-items: center;
  }
}

.pic-ctn {
  position: relative;
  width: 100vw;
  height: 300px;
  margin-top: 15vh;
  margin-top: auto;
}

.pic-ctn > img {
  position: absolute;
  top: 0;
  left: calc(50% - 100px);
  opacity: 0;
  animation: display 10s infinite;
  margin-top: auto;
}

img:nth-child(2) {
  animation-delay: 2s;
}
img:nth-child(3) {
  animation-delay: 4s;
}
img:nth-child(4) {
  animation-delay: 6s;
}
img:nth-child(5) {
  animation-delay: 8s;
}


footer{
  position: relative;
  width: 100%;
  height: 400px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40%;
}

footer p:nth-child(1){
font-size: 50px;
color: white;
  background-color: #000;
margin-bottom: 80px;
font-weight: bold;
}

footer p:nth-child(2){
  background-color: #000;
color: white;
font-size: 17px;
width: 500px;
text-align: center;
line-height: 26px;
}

.social{
  background-color: #000;
display: flex;
}

.fa-brands, .fab {
  font-weight: 400;
}

.fa-brands, .fab {
  font-family: "Font Awesome 6 Brands";
}

.fa, .fa-brands, .fa-classic, .fa-regular, .fa-sharp, .fa-solid, .fab, .far, .fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: var(--fa-display,inline-block);
  font-style: normal;
  font-variant: normal;
  background: #f9004d;
  color: white;
  line-height: 1;
  text-rendering: auto;
}

.social a{
width: 45px;
height: 45px;
display: flex;
align-items: center;
justify-content: center;
background-color:  #f9004d;
border-radius: 50%;
margin: 22px 10px;
color: black;
text-decoration: none;
font-size: 25px;
}

.social a:hover{
transform: scale(1.3);
transition: .3s;
}

.end{
position: absolute;
color:#f9004d;
  background-color: #000;
bottom: 35px;
font-size: 14px; 
}

